site_name: py_canoe
site_url: https://chaitu-ycr.github.io/py_canoe/
site_description: Python Library for controlling Vector CANoe tool
site_author: chaitu-ycr

repo_name: chaitu-ycr/py_canoe
repo_url: https://github.com/chaitu-ycr/py_canoe
edit_uri: blob/main/docs/


nav:
  - user_guide: index.md
  - reference: reference.md

theme:
  name: material

plugins:
  - mkdocstrings

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true