[tool.poetry]
name = "py_canoe"
version = "3.0.2"
description = "Python CANoe Package"
authors = ["chaitu-ycr <chaitu.ycr@gmail.com>"]
license = "LICENSE"
readme = "README.md"
homepage = "https://github.com/chaitu-ycr/py_canoe"
repository = "https://github.com/chaitu-ycr/py_canoe"
documentation = "https://chaitu-ycr.github.io/py_canoe/"
keywords = ["Vector", "CANoe", "py_canoe"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Microsoft :: Windows",
    "Topic :: Software Development :: Embedded Systems"
]

[tool.poetry.dependencies]
python = "^3.9"
pywin32 = ">=306,<=308"

[tool.poetry.group.dev.dependencies]
mkdocstrings-python = "^1.11.1"
mkdocs-include-markdown-plugin = "^6.2.2"
pytest = "^8.3.3"
pytest-html = "^4.1.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
