[tool.poetry]
name = "py_canoe"
version = "2.1.0"
description = "Python CANoe library"
authors = ["chaitu-ycr <chaitu.ycr@gmail.com>"]
license = "LICENSE"
readme = "README.md"
homepage = "https://github.com/chaitu-ycr/py_canoe.git"
repository = "https://github.com/chaitu-ycr/py_canoe.git"
documentation = "https://chaitu-ycr.github.io/py_canoe/"
keywords = ["Vector", "CANoe", "py_canoe"]
classifiers = [
    "Programming Language :: Python :: 3.9",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Microsoft :: Windows",
    "Topic :: Software Development :: Embedded Systems"
]
packages = [
    { include = "py_canoe.py", from = "src" },
    { include = "py_canoe_utils/*.py", from = "src"},
    { include = "py_canoe_utils/app_utils/*.py", from = "src"},
]

[tool.poetry.dependencies]
python = "^3.9"
pywin32 = "^305"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
mkdocs = "^1.5.3"
mkdocstrings-python = {extras = ["python"], version = "^1.7.3"}
mkdocs-material = "^9.4.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
